<div spa-voucher-task-tile [ngClass]="task.forKind">
  <div borders></div>
  <div totals>
    <div>
      <div required>
        <div lbl>REQUIRED</div>
        <div>{{task?.processes?.required}}</div>
      </div>
      <div completed>
        <div lbl>COMPLETED</div>
        <div>{{task?.processes?.completed}}</div>
      </div>
    </div>
  </div>
  <div owner>
    <div>
      <div taskowner user *ngIf="task.ownerUid" [matMenuTriggerFor]="usrList">
        <ui-user [user]="getDisplayUser(task.ownerUid)"></ui-user>
      </div>
      <div taskowner assign *ngIf="!task.ownerUid && users && users.length && users.length>0" [matMenuTriggerFor]="usrList">
        <mat-icon>person_add</mat-icon>
      </div>
    </div>
  </div>
  <div for [routerLink]="routerLnk" class="no-border">
    <ng-container *ngIf="task?.forDoc | async as taskFor">
      <ng-container *ngIf="task.forKind==='booking'">
        <booking-tile [booking]="taskFor"></booking-tile>
      </ng-container>
      <ng-container *ngIf="task.forKind==='voucher'">
        <voucher-tile [voucher]="taskFor"></voucher-tile>
      </ng-container>
    </ng-container>
  </div>
  <div taskKind arrow></div>
  <div taskKind [routerLink]="routerLnk">
    <ng-container *ngIf="task.forKind==='booking'">
      <div>booking</div>
    </ng-container>
    <ng-container *ngIf="task.forKind==='voucher'">
      <div>voucher</div>
    </ng-container>
  </div>
</div>
<mat-menu #usrList="matMenu">
  <div mat-menu-item *ngFor="let user of users" (click)="selectUser(user)">
    <ui-user [user]="user"></ui-user>
  </div>
</mat-menu>
