:host {
  max-width: 600px;
  display: flex;
  margin: auto;
}

div[spa-voucher-voucher-tile] {
  display: grid;
  grid-template-columns: 80px minmax(140px, 440px) 80px;
  grid-template-rows: auto auto auto;
  grid-column-gap: 8px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, .35);
}

:host-context(.first) div[spa-voucher-voucher-tile] {
  border-top: none;
}

:host-context(.no-border) div[spa-voucher-voucher-tile] {
  max-width: 960px;
  grid-template-columns: 80px minmax(140px, 100vw) 80px;
  border: none;
}

:host-context(.no-border) {
  max-width: 960px;
  display: flex;
  margin: auto;
}


div[date] {
  grid-column: 1;
  grid-row: 1 / 4;
  display: grid;
  justify-items: center;
  align-items: center;
}

div[voucher] {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: grid;
  justify-items: start;
  align-items: stretch;
}

div[price] {
  grid-column: 3;
  grid-row: 1 / 4;
  display: grid;
  justify-items: center;
  align-items: center;
  font: 600 30px/32px Raleway, sans-serif;
}
