<div spa-voucher-process-tile>
  <div description>
    <div>{{process?.description?.short}}</div>
  </div>
  <div activity>
    <div>
      <ng-container *ngFor="let activityItem of process?.activity">{{activityItem?.action}}</ng-container>
    </div>
    <div><button mat-mini-fab (click)="activityAdd()">
        <mat-icon class="mat-18">add</mat-icon>
      </button></div>
  </div>
  <div reminders>
    <div>
      <ng-container *ngFor="let remind of process?.reminder; let last=last">
        <ng-container *ngIf="remind.toDate() > nowdate">
          <ui-date [date]="remind"></ui-date>
        </ng-container>
        <ng-container *ngIf="last && remind.toDate() <= nowdate ">
          <ui-date [date]="remind"></ui-date>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div priority>
    <div>{{process?.priority}}</div>
    <ng-container *ngFor="let remind of process?.reminder; let last=last">
      <ng-container *ngIf="last && remind.toDate() <= nowdate ">
        <div><b>&nbsp;&nbsp;&nbsp;{{(nowdate.valueOf() - remind.toDate().valueOf())/86400000 | number:'1.1-1'}} day(s) overdue </b></div>
      </ng-container>
    </ng-container>
  </div>
  <div taskOwner>
    <div *ngIf="process.ownerUid">
      <ui-user [user]="getDisplayUser(process.ownerUid)" [small]="true" [matMenuTriggerFor]="usrList"></ui-user>
    </div>
    <ng-container *ngIf="!process.ownerUid && users && users.length && users.length>0">
      <div [matMenuTriggerFor]="usrList">
        <mat-icon>person_outline</mat-icon>
      </div>
    </ng-container>
  </div>
</div>
<mat-menu #usrList="matMenu">
  <div mat-menu-item *ngFor="let user of users" (click)="selectUser(user)">
    <ui-user [user]="user"></ui-user>
  </div>
</mat-menu>