<div spa-voucher-order-tile>
    <div date>
        <ui-date [date]="order?.created"></ui-date>
    </div>
  <div email>
    <div>{{order?.email}}</div>
  </div>
  <div name>
    <div>{{order?.name}}</div>
  </div>
  <div ref>
    <div>{{order?.ref}}</div>
  </div>
  <div codes>
    <div>{{order?.items?.length}} Voucher<span *ngIf="order?.items?.length>1">s</span> : <span *ngFor="let item of order.items; let l=last">{{item?.voucherCode}}<span *ngIf="!l">, </span></span></div>
  </div>
  <div value>
      <ui-price [price]="order?.value/100"></ui-price>
    </div>
</div>
